.topo-site {
    background-color: #efe6dd;
    color: #666;
}
.topo-site a {
    color: #666;
    text-decoration: none;
    transition: 200ms;
}
.topo-site a:hover {
    color: #333;
}

.topo-site .input-busca {
    box-shadow: none;
    border-color: transparent;
}

.topo-site .btn-busca {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    background-color: transparent;
    width: 3em;
}

.topo-site .dropdown-menu {
    background-color: #efe6dd;
}

.rodape-site {
    background-color: #efe6dd;
    color: #777;
}

.rodape-site .pgto-social a,
.rodape-site .pgto-social svg {
    color: #777;
    text-decoration: none;
    transition: 200ms;
}

.rodape-site .pgto-social a:hover,
.rodape-site .pgto-social svg:hover {
    color: #333;
}

.rodape-site .info-matriz {
    font-size: .8em;
}

/* Classes de Apoio */

.pg-login .btn-conta {
    margin-top: 5em;
}